# ignore all files/directories with which match these
**/.DS_Store
**.log
**/node_modules

# ignoring png files for now. we'll use .jpg in documentation to keep it lite
**/png-files 

# **/.env
**/.pgpass
**/config.json

# recursively ignore directory:
example/
.vim.custom
